<div id="home" class="header-content-area d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="grid grid-cols-3 gap-2 place-items-end">

        <div class="header-wrapper">
        <!-- hero <message message -->
          <div class="header-content">
            <h3 class="header-title">La plateforme d'étude des élèves pour Obtenir de Bonnes Notes.
            </h3>
            <p class="text">pour avoir de bonne notes. Avec des exercices pratiques, des preparations des devoirs et meme des Interrogations et
             c'est avec vos profs.</p>
          <div class="header-btn rounded-buttons">
          <%= link_to "S'Inscrire Gratuitement", new_user_registration_path, class:"main-btn rounded-one " %>
        </div>
      </div>
      <!-- header content -->
      <div>
          <%= render "shared/users/sign_up_student" %>

      </div>
    </div>
  </div>
</div>
 <!-- row -->
  </div> <!-- container -->
 <!-- header-shape -->
</div> <!-- header content area -->
