.logo {
    text-transform: uppercase;
    font-family: "roboto";
    font-weight: 700;
    color: #fff;
    font-size: 19px;
    letter-spacing: 1px;
}

.logo:hover {
    text-decoration: none;
    color: #fff;
}

.m-links {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    margin: 0 10px;
    padding: 0;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.m-links i {
    margin-right: 5px;
}

.m-links:hover {
    padding-bottom: 3px;
    text-decoration: none;
    color: #fff;
    border-color: #fff;
    /* for underbar*/
}


/*===========================
    4.HEADER css
===========================*/


/*===== NAVBAR =====*/

.navbar-area {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 20px 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar-area.sticky {
    position: fixed;
    background-color: #0067f4;
    z-index: 99;
}

.navbar {
    position: relative;
    padding: 0;
}

.navbar .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-collapse {
        position: absolute;
        top: 115%;
        left: 0;
        width: 100%;
        background-color: #0067f4;
        z-index: 8;
        padding: 5px 16px;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-collapse {
        position: absolute;
        top: 115%;
        left: 0;
        width: 100%;
        background-color: #0067f4;
        z-index: 8;
        padding: 5px 16px;
    }
}

.navbar .navbar-nav {
    margin-right: 24px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-nav {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav {
        margin-right: 0;
    }
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

.navbar .navbar-nav .nav-item a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 11px 14px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    margin: 14px 4px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-nav .nav-item a {
        padding: 10px 0;
        display: block;
        border: 0;
        margin: 0;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav .nav-item a {
        padding: 10px 0;
        display: block;
        border: 0;
        margin: 0;
    }
}

.navbar .navbar-nav .nav-item a::before,
.navbar .navbar-nav .nav-item a::after {
    position: absolute;
    content: '';
    width: 32px;
    height: 2px;
    background-color: #fff;
    left: 50%;
    margin: 0 2px;
    top: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-transform: translateX(-50%) scaleX(0);
    -moz-transform: translateX(-50%) scaleX(0);
    -ms-transform: translateX(-50%) scaleX(0);
    -o-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-nav .nav-item a::before,
    .navbar .navbar-nav .nav-item a::after {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav .nav-item a::before,
    .navbar .navbar-nav .nav-item a::after {
        display: none;
    }
}

.navbar .navbar-nav .nav-item a::after {
    top: auto;
    bottom: 0;
}

.navbar .navbar-nav .nav-item.active>a,
.navbar .navbar-nav .nav-item:hover>a {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-nav .nav-item.active>a,
    .navbar .navbar-nav .nav-item:hover>a {
        border: 0;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav .nav-item.active>a,
    .navbar .navbar-nav .nav-item:hover>a {
        border: 0;
    }
}

.navbar .navbar-nav .nav-item.active>a::before,
.navbar .navbar-nav .nav-item.active>a::after,
.navbar .navbar-nav .nav-item:hover>a::before,
.navbar .navbar-nav .nav-item:hover>a::after {
    -webkit-transform: translateX(-50%) scaleX(1);
    -moz-transform: translateX(-50%) scaleX(1);
    -ms-transform: translateX(-50%) scaleX(1);
    -o-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}

.navbar .navbar-nav .nav-item .sub-menu {
    position: absolute;
    right: 0;
    top: 100%;
    width: 260px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    z-index: 99;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-nav .nav-item .sub-menu {
        position: relative !important;
        width: 100% !important;
        left: 0 !important;
        top: auto !important;
        opacity: 1 !important;
        visibility: visible !important;
        display: none;
        right: auto;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transition: all none ease-out 0s;
        -moz-transition: all none ease-out 0s;
        -ms-transition: all none ease-out 0s;
        -o-transition: all none ease-out 0s;
        transition: all none ease-out 0s;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-align: left;
        border-top: 0;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav .nav-item .sub-menu {
        position: relative !important;
        width: 100% !important;
        left: 0 !important;
        top: auto !important;
        opacity: 1 !important;
        visibility: visible !important;
        display: none;
        right: auto;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transition: all none ease-out 0s;
        -moz-transition: all none ease-out 0s;
        -ms-transition: all none ease-out 0s;
        -o-transition: all none ease-out 0s;
        transition: all none ease-out 0s;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-align: left;
        border-top: 0;
    }
}

.navbar .navbar-nav .nav-item .sub-menu li {
    position: relative;
}

.navbar .navbar-nav .nav-item .sub-menu li .sub-nav-toggler {
    color: #121212;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar .navbar-nav .nav-item .sub-menu li a {
    display: block;
    padding: 8px 24px;
    position: relative;
    color: #121212;
    -webkit-transition: all 0s ease-out 0s;
    -moz-transition: all 0s ease-out 0s;
    -ms-transition: all 0s ease-out 0s;
    -o-transition: all 0s ease-out 0s;
    transition: all 0s ease-out 0s;
    border-radius: 0;
    margin: 0 0;
    border: 0;
}

.navbar .navbar-nav .nav-item .sub-menu li a i {
    float: right;
    font-size: 14px;
    margin-top: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-nav .nav-item .sub-menu li a i {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav .nav-item .sub-menu li a i {
        display: none;
    }
}

.navbar .navbar-nav .nav-item .sub-menu li a .sub-nav-toggler i {
    display: inline-block;
}

.navbar .navbar-nav .nav-item .sub-menu li a::before {
    display: none;
}

.navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
    right: auto;
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
        padding-left: 30px;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
        padding-left: 30px;
    }
}

.navbar .navbar-nav .nav-item .sub-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.navbar .navbar-nav .nav-item .sub-menu li:hover .sub-nav-toggler {
    color: #fff;
}

.navbar .navbar-nav .nav-item .sub-menu li:hover>a {
    background: -webkit-linear-gradient(left, #0067f4 0%, #2bdbdc 100%);
    background: -o-linear-gradient(left, #0067f4 0%, #2bdbdc 100%);
    background: linear-gradient(to right, #0067f4 0%, #2bdbdc 100%);
    color: #fff;
}

.navbar .navbar-nav .nav-item .sub-menu li:hover>a::before {
    opacity: 1;
}

.navbar .navbar-nav .nav-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.navbar .navbar-nav .nav-item .sub-nav-toggler {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-nav .nav-item .sub-nav-toggler {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 14px;
        font-size: 16px;
        background: none;
        border: 0;
        color: #fff;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav .nav-item .sub-nav-toggler {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 14px;
        font-size: 16px;
        background: none;
        border: 0;
        color: #fff;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-btn {
        position: absolute;
        right: 70px;
        top: 7px;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-btn {
        position: absolute;
        right: 60px;
        top: 7px;
    }
}

.navbar .navbar-btn ul li {
    display: inline-block;
    margin-right: 5px;
}

.navbar .navbar-btn ul li a {
    padding: 10px 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    border: 2px solid;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar .navbar-btn ul li a.light {
    border-color: #fff;
}

.navbar .navbar-btn ul li a.light:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.navbar .navbar-btn ul li a.solid {
    background-color: #fff;
    border-color: #fff;
    color: #0067f4;
}

.navbar .navbar-btn ul li a.solid:hover {
    background-color: transparent;
    color: #fff;
}


/*===== HEADER =====*/

.header-content-area {
    background-color: #005ad5;
    height: 750px;
    position: relative;
    overflow: hidden;
}

@media only screen and (min-width: 1400px) {
    .header-content-area {
        height: 900px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-content-area {
        height: 650px;
    }
}

@media (max-width: 767px) {
    .header-content-area {
        height: 550px;
    }
}

.header-content-area .header-shape {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 100%;
}

.header-content-area .header-shape img {
    width: 100%;
}

.header-wrapper {
    position: relative;
}

.header-image {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 5;
}

.header-image .image {
    max-width: 730px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-image .image {
        max-width: 550px;
    }
}

.header-image .image img {
    width: 100%;
}

.header-content {
    padding-top: 95px;
    max-width: 540px;
    position: relative;
    z-index: 5;
}

.header-content .header-title {
    font-size: 44px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
}

@media (max-width: 767px) {
    .header-content .header-title {
        font-size: 30px;
        line-height: 35px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-content .header-title {
        font-size: 36px;
        line-height: 45px;
    }
}

.header-content .text {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: 300;
    margin-top: 8px;
}

@media (max-width: 767px) {
    .header-content .text {
        font-size: 8px;
        line-height: 12px;
    }
}

.header-content .header-btn {
    margin-top: 20px;
}

.header-content .header-btn .main-btn {
    background-color: #fff;
    color: #0067f4;
    border-color: #fff;
}

.header-content .header-btn .main-btn:hover {
    background-color: transparent;
    color: #fff;
}