<header class="header-area">
    <div class="navbar-area navbar-one navbar-transparent">
        <div class="container md:-mt-8">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <%= link_to root_path, class:"navbar-brand" do%>
                         <span class="font-bold text-white">LNCLASS Côte d'Ivoire</span>
                        <% end %>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOne" aria-controls="navbarOne" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarOne">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item active">
                                    <a class="page-scroll" href="#home">Accueil</a>
                                </li>
                                <li class="nav-item">
                                   <a class="page-scroll" href="#about">Comment ça marche ? </a>
                                </li>
                                <li class="nav-item">
                                    <%= link_to 'INSCRIPTION PROF', welcome_t_welcome_path %>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#pricing">Prix</a>
                                </li>
                                <li class="nav-item">
                                   <a class="page-scroll" href="#contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="navbar-btn d-none d-sm-inline-block">
                            <ul>
                                <li class="nav-item">
                                <%= link_to 'Connexion', new_user_session_path, class:"light" %>
                                </li>
                            </ul>
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</header>
<%= render "home/shared/homeMessage" %>
