<div id="home" class="header-content-area d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header-wrapper">
        <!-- hero <message message -->
          <div class="header-content">
            <h3 class="header-title">La plateforme d'étude pour les eleves de la 6eme a la Terminale.
            </h3>
            <p class="text">pour avoir de bonne notes. Avec des exercices pratiques, des preparations des devoirs et meme des Interrogations et
             c'est avec vos profs.</p>
          <div class="header-btn rounded-buttons">
          <%= link_to "S'Inscrire Gratuitement", new_user_registration_path, class:"main-btn rounded-one " %>
        </div>
      </div>
      <!-- header content -->
      <div class="header-image d-none d-lg-block">
        <div class="image">
          <%= image_tag 'header.png' %>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- row -->
  </div> <!-- container -->
  <div class="header-shape">
          <%= image_tag 'header-shape.svg', alt:'shape' %>
  </div> <!-- header-shape -->
</div> <!-- header content area -->
