<p class="font-bold">

That phone call can be from anyone like your angry creditor, frustrated customer, disappointed employee, feeling cheated co-founder, or in a worst-case scenario ordered attorney/ police officer.

You think that’s the easy way to avoid giving an unrealistic and unforgivable excuse is by not picking up the phone call.

But that’s from where the trouble gets start increasing in exponential terms, not only for the person who is calling but also for you and your mental health.

You get filled up with anxiety, panic, and worry.

You want to breathe deeply but you are not able to reach that level of oxygen.
</p>
