<div>
    <div class="hidden md:block">
        <a href="#" class="inline-block py-1 md:py-4 text-gray-100 mr-6 font-bold">
            How it Works
        </a>
        <a href="#" class="inline-block py-1 md:py-4 text-gray-500 hover:text-gray-100 mr-6" >
            Services
        </a>
        <a href="#" class="inline-block py-1 md:py-4 text-gray-500 hover:text-gray-100">
            Blog
        </a>
    </div>
</div>