 <section id="portfolio" class="portfolio-area pt-95 pb-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="text-center">
          <%= render "shared/users/sign_up_teacher" %>

        </div> <!-- header content -->
      </div> <!-- row -->

    </div> <!-- container -->
</section>
