 <section id="portfolio" class="portfolio-area pt-95 pb-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="text-center">
          <h2>You are using free lite version of Agency</h2></br>
          <p>Please, purchase the premium version just for $9 - if you would like to remove footer credits and get all features, documentation and support</p></br>
          <div class="rounded-buttons">
            <a class="main-btn rounded-one" rel="nofollow" href="https://rebrand.ly/agency-ud">Purchase Now</a>
          </div>

        </div> <!-- header content -->
      </div> <!-- row -->

    </div> <!-- container -->
</section>
