
    <section class="testimonial-area pt-95 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-20">
                        <h4 class="title">Testimonial</h4>
                        <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->

            <div class="row testimonial-active">
                <div class="col-lg-6">
                    <div class="single-testimonial mt-30">
                        <div class="testimonial-author d-sm-flex align-items-center">
                            <div class="author-image">
                                <img src="assets/images/author-1.jpg" alt="Author">
                            </div>
                            <div class="author-name media-body">
                                <h6 class="name">Riley Beata</h6>
                                <span class="sub-title">Angel Investor</span>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p class="text">Poorly designed presentations are a thing of the past. Create beautiful and high-quality content that is aligned with your brand, in just a few clicks.</p>
                        </div>
                    </div> <!-- single testimonial -->
                </div>
                <div class="col-lg-6">
                    <div class="single-testimonial mt-30">
                        <div class="testimonial-author d-sm-flex align-items-center">
                            <div class="author-image">
                                <img src="assets/images/author-2.jpg" alt="Author">
                            </div>
                            <div class="author-name media-body">
                                <h6 class="name">Fajar Siddiq</h6>
                                <span class="sub-title">Entrepreneur and Influencer</span>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p class="text">Poorly designed presentations are a thing of the past. Create beautiful and high-quality content that is aligned with your brand, in just a few clicks.</p>
                        </div>
                    </div> <!-- single testimonial -->
                </div>
                <div class="col-lg-6">
                    <div class="single-testimonial mt-30">
                        <div class="testimonial-author d-sm-flex align-items-center">
                            <div class="author-image">
                                <img src="assets/images/author-3.jpg" alt="Author">
                            </div>
                            <div class="author-name media-body">
                                <h6 class="name">Kamil Kiwis</h6>
                                <span class="sub-title">Art Director</span>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p class="text">Poorly designed presentations are a thing of the past. Create beautiful and high-quality content that is aligned with your brand, in just a few clicks.</p>
                        </div>
                    </div> <!-- single testimonial -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== TESTIMONIAL PART ENDS ======-->
