<!-- List all level and -->

<% @levels.each do |level| %>
  <li class="text-lg font-bold list-group-item" id:'<%= level.id %>' >
    <%= link_to level.title, level , class: "hover:no-underline hover:text-black", id:"collapse" %>
    <p class="">
    Leçons
    </p>
    <p class="">
    <%= link_to 'Exercices', exercices_path %>

    </p>

  </li>
<% end %>

