<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 md:ml-24">
      <div class="card">
        <div class="m-2">
        <!-- title!-->
          <h1 class="text-xl leading-tight font-bold mt-2 mx-2">
              <%= @exercice.title %>
          </h1>
          <hr />
            <%= @exercice.content.to_s.html_safe %>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
